flows.json
[
    {
        "id": "76efdb70933209ac",
        "type": "tab",
        "label": "Monittoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa36cc7d7fa5cea5",
        "type": "tab",
        "label": "PDF",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b4c08f2a705dd79",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e42b4edae71dedd4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0838c35150fe8e4b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#a51d2d",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#a51d2d",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#a51d2d",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#db3347",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#a51d2d",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bddfc83fd54ae92b",
        "type": "ui_group",
        "name": "Data",
        "tab": "e42b4edae71dedd4",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "173c4031bd3a25c0",
        "type": "ina-sensor-manager",
        "address": "0x40",
        "delay": "250",
        "ohms": "0.01",
        "customResistor": false
    },
    {
        "id": "837441be757b92ac",
        "type": "ui_group",
        "name": "Monitorring Volt",
        "tab": "e42b4edae71dedd4",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12e50ad63920a21c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "65e942c300ec1ce1",
        "type": "ui_group",
        "name": "Monittoring Nidus",
        "tab": "e42b4edae71dedd4",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfb4a60f.d788f8",
        "type": "ui_group",
        "name": "Data Export",
        "tab": "48418b79.0f5834",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "48418b79.0f5834",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "3f2698910c317457",
        "type": "ui_text",
        "z": "76efdb70933209ac",
        "group": "bddfc83fd54ae92b",
        "order": 2,
        "width": "7",
        "height": "2",
        "name": "",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "e8334464abeb8df9",
        "type": "ui_text",
        "z": "76efdb70933209ac",
        "group": "bddfc83fd54ae92b",
        "order": 1,
        "width": "7",
        "height": "2",
        "name": "",
        "label": "MiliAmp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f040225cb054e9d",
        "type": "ina-sensor",
        "z": "76efdb70933209ac",
        "name": "",
        "handle": "173c4031bd3a25c0",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "06aa7125c7bfbcd7",
                "68b1e6e95bce2ef2"
            ],
            [
                "06aa7125c7bfbcd7",
                "587821a4c81b1185"
            ]
        ]
    },
    {
        "id": "b8288639de4d40ea",
        "type": "function",
        "z": "76efdb70933209ac",
        "name": "Watt",
        "func": "// Récupérer les valeurs de courant (mA) et de tension (V) depuis les propriétés msg.payload\nvar current_mA = msg.payload.miliamps;\nvar voltage_V = msg.payload.voltage;\n\n// Calculer la puissance en watts (W)\nvar power_W = (current_mA / 1000) * voltage_V;  // Convertir le courant en ampères\n\n// Vérifier si la tension est négative\nif (voltage_V < 0.5) {\n    // Si la tension est négative, ne rien faire et retourner le message inchangé\n    return null;\n}\n\n// Créer un nouvel objet msg avec la puissance en watts comme payload\nmsg.payload = power_W;\nmsg.topic = \"Watt\";\n// Renvoyer le message modifié\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 220,
        "wires": [
            [
                "c2f42c42be3ffdd2",
                "cd1f740c61e8aa04"
            ]
        ]
    },
    {
        "id": "06aa7125c7bfbcd7",
        "type": "join",
        "z": "76efdb70933209ac",
        "name": "Join_Amp_Volt",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "b8288639de4d40ea"
            ]
        ]
    },
    {
        "id": "c2f42c42be3ffdd2",
        "type": "ui_text",
        "z": "76efdb70933209ac",
        "group": "bddfc83fd54ae92b",
        "order": 3,
        "width": "7",
        "height": "2",
        "name": "",
        "label": "Watt",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "cd1f740c61e8aa04",
        "type": "ui_chart",
        "z": "76efdb70933209ac",
        "name": "",
        "group": "bddfc83fd54ae92b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Watt",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "587821a4c81b1185",
        "type": "function",
        "z": "76efdb70933209ac",
        "name": "Drop_Negatif",
        "func": "if(msg.payload < 0){\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "e8334464abeb8df9"
            ]
        ]
    },
    {
        "id": "68b1e6e95bce2ef2",
        "type": "function",
        "z": "76efdb70933209ac",
        "name": "Drop_Negatif",
        "func": "if(msg.payload < 0){\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "3f2698910c317457"
            ]
        ]
    },
    {
        "id": "058d3b10309eae98",
        "type": "exec",
        "z": "76efdb70933209ac",
        "command": "ssh tobby@157.26.228.141 \"top -bn1 | grep 'Cpu(s)' | awk '{print \\$2 + \\$4}'\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "CPU_Usage%",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "b688f544fed38038"
            ],
            [],
            []
        ]
    },
    {
        "id": "b688f544fed38038",
        "type": "ui_gauge",
        "z": "76efdb70933209ac",
        "name": "",
        "group": "837441be757b92ac",
        "order": 4,
        "width": "10",
        "height": "8",
        "gtype": "gage",
        "title": "CPU",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "ea9c250527414c8b",
        "type": "exec",
        "z": "76efdb70933209ac",
        "command": "ssh tobby@157.26.228.141 \"free | awk '/Mem/{printf(\\\"%.2f\\\\n\\\", \\$3/\\$2*100)}'\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Mem_Usage%",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "e4b8fa072df9d2fc"
            ],
            [],
            []
        ]
    },
    {
        "id": "f24ee82d3a72a32e",
        "type": "exec",
        "z": "76efdb70933209ac",
        "command": "ssh tobby@157.26.228.141 \"ps aux | wc -l\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Process",
        "x": 320,
        "y": 860,
        "wires": [
            [
                "95ac268a855d0a7a"
            ],
            [],
            []
        ]
    },
    {
        "id": "e4b8fa072df9d2fc",
        "type": "ui_gauge",
        "z": "76efdb70933209ac",
        "name": "",
        "group": "837441be757b92ac",
        "order": 4,
        "width": "10",
        "height": "8",
        "gtype": "gage",
        "title": "RAM",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "95ac268a855d0a7a",
        "type": "ui_gauge",
        "z": "76efdb70933209ac",
        "name": "",
        "group": "837441be757b92ac",
        "order": 4,
        "width": "10",
        "height": "8",
        "gtype": "gage",
        "title": "Processus",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "b69a0aed1b6608d9",
        "type": "mqtt in",
        "z": "76efdb70933209ac",
        "name": "",
        "topic": "benchmark/cpu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12e50ad63920a21c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "b688f544fed38038"
            ]
        ]
    },
    {
        "id": "5dddcb64761b7d57",
        "type": "mqtt in",
        "z": "76efdb70933209ac",
        "name": "",
        "topic": "benchmark/ram",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12e50ad63920a21c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 640,
        "wires": [
            [
                "e4b8fa072df9d2fc"
            ]
        ]
    },
    {
        "id": "7ab2d9f0ef997aac",
        "type": "mqtt in",
        "z": "76efdb70933209ac",
        "name": "",
        "topic": "benchmark/processes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12e50ad63920a21c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "95ac268a855d0a7a"
            ]
        ]
    },
    {
        "id": "5e01dde5ab04cf9f",
        "type": "ui_gauge",
        "z": "76efdb70933209ac",
        "name": "",
        "group": "65e942c300ec1ce1",
        "order": 4,
        "width": "10",
        "height": "8",
        "gtype": "gage",
        "title": "CPU",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "2f77fbb6f1c9c8b2",
        "type": "ui_gauge",
        "z": "76efdb70933209ac",
        "name": "",
        "group": "65e942c300ec1ce1",
        "order": 4,
        "width": "10",
        "height": "8",
        "gtype": "gage",
        "title": "RAM",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "78164e0fc6561bb0",
        "type": "ui_gauge",
        "z": "76efdb70933209ac",
        "name": "",
        "group": "65e942c300ec1ce1",
        "order": 4,
        "width": "10",
        "height": "8",
        "gtype": "gage",
        "title": "Processus",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d36d783723cacbde",
        "type": "mqtt in",
        "z": "76efdb70933209ac",
        "name": "",
        "topic": "nidus/benchmark/cpu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12e50ad63920a21c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 960,
        "wires": [
            [
                "5e01dde5ab04cf9f"
            ]
        ]
    },
    {
        "id": "4d9488b6e1088231",
        "type": "mqtt in",
        "z": "76efdb70933209ac",
        "name": "",
        "topic": "nidus/benchmark/ram",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12e50ad63920a21c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "2f77fbb6f1c9c8b2"
            ]
        ]
    },
    {
        "id": "cfd7ef673c828f97",
        "type": "mqtt in",
        "z": "76efdb70933209ac",
        "name": "",
        "topic": "nidus/benchmark/processes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12e50ad63920a21c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 1080,
        "wires": [
            [
                "78164e0fc6561bb0"
            ]
        ]
    },
    {
        "id": "9ba0d599c2412587",
        "type": "inject",
        "z": "aa36cc7d7fa5cea5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"content\":[\"First paragraph\",\"Another paragraph, this time a little bit longer to make sure, this line will be divided into at least two lines\"]}",
        "payloadType": "json",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "9feebdce6905e6f3"
            ]
        ]
    },
    {
        "id": "9feebdce6905e6f3",
        "type": "pdfmake",
        "z": "aa36cc7d7fa5cea5",
        "name": "",
        "outputType": "base64",
        "inputProperty": "payload",
        "options": "{}",
        "outputProperty": "payload",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "904144c3f832e485",
                "7c1a3556f6412001"
            ]
        ]
    },
    {
        "id": "904144c3f832e485",
        "type": "file",
        "z": "aa36cc7d7fa5cea5",
        "name": "",
        "filename": "/home/tobby/test.pdf",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "base64",
        "x": 700,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "92c48eea6d19c3b1",
        "type": "pdfmake",
        "z": "aa36cc7d7fa5cea5",
        "name": "",
        "outputType": "base64",
        "inputProperty": "payload",
        "options": "{}",
        "outputProperty": "payload",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "7c1a3556f6412001"
            ]
        ]
    },
    {
        "id": "59b2fa9f54fae4de",
        "type": "ui_button",
        "z": "aa36cc7d7fa5cea5",
        "name": "",
        "group": "65e942c300ec1ce1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"content\":[\"First paragraph\",\"Another paragraph, this time a little bit longer to make sure, this line will be divided into at least two lines\"]}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "92c48eea6d19c3b1"
            ]
        ]
    },
    {
        "id": "7c1a3556f6412001",
        "type": "downloadfile",
        "z": "aa36cc7d7fa5cea5",
        "name": "",
        "filename": "Result.pdf",
        "encoding": "base64",
        "x": 670,
        "y": 260,
        "wires": []
    }
]